body {
    font-family: var(--font-primary);
    font-size: var(--font-size-s);
    color: var(--primary-font-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}