:root {
    --font-primary: Roboto, sans-serif;
    --font-secondary: Sansation, sans-serif;

    --font-size-xl: 1.75rem;
    --font-size-l: 1.25rem;
    --font-size-m: 0.9375rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.625rem;

    --primary-font-color: #242424;
    --secondary-font-color: #ffffff;

    --main-color: #e5e5e5;
    --secondary-color: #d22626;
    --third-color: #ffffff;

    --border-radius: 2px;

    --header-color: #ffffff;
    --header-height: 60px;

    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
}

@media (min-width: 768px) {
    :root {
        --font-size-xl: 2rem;
        --font-size-l: 1.5rem;
        --font-size-m: 1rem;
        --font-size-s: 0.8125rem;
        --font-size-xs: 0.6875rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --font-size-xl: 2.5rem;
        --font-size-l: 1.75rem;
        --font-size-m: 1.125rem;
        --font-size-s: 0.875rem;
        --font-size-xs: 0.75rem;
    }
}