.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: var(--header-height);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--header-color);
    box-shadow: 0 2px 4px rgba(131, 117, 117, 0.1);
    z-index: 1000;
    font-size: var(--font-size-s);

    &.transparent {
        background-color: transparent;
        color: white;
        
        .icon {
            filter: brightness(0) saturate(100%) invert(100%);
        }
    }

    .logo {
        width: auto;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
        
        &:hover {
            transform: scale(1.05);
        }
    }

    .navItems {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}